<center class="position-absolute top-50 bottom-50 start-50 translate-middle">
    <div id="loadingComponent">
        <div id="loadingContainer">
            <div id="ring"></div>
            <div id="ring"></div>
            <div id="ring"></div>
            <div id="ring"></div>
            <div class="text-dark">Cargando</div>
        </div>
    </div>
</center>
