@inherits LayoutComponentBase

<PageTitle>Autores_Libros.UI</PageTitle>
<RadzenComponents />
<SideMenu />

<section class="home">
    <div class="text-light px-4" style="background-color:#e5e5e5;">
        <TopBody />
    </div>

    <article id="article-body" class="px-4 pb-4">
        @Body
    </article>

</section>
