<nav class="navbar navbar-expand">
    <div class="h-100 w-100">
        <aside class="float-end">
            <div class="row">
                @* <h6 class="text-end"><strong>User<span class="bx bx-user" /></strong></h6> *@
            </div>
            <div class="row">
                @* <small class="text-end"><strong>Usuario Admin <span class="bx bx-check-shield" /></strong></small> *@
            </div>
        </aside>
    </div>
</nav>

@code {
}